{% extends "page/base.html" %} 
{% load static %} 
{% block content %}
<section class="">
            <div class="container mx-auto flex px-10 py-8 items-center justify-center flex-col">
                <img class="lg:w-15/15 md:w-15/5 w-20/6 mb-10 object-cover object-center rounded" alt="hero"
                    src="{% static 'img/aboutus.jpg'%}">
            </div>
        </section>
        <section class="">
            <div class="container px-5 py-8 mx-auto flex flex-wrap">
                <div class="flex flex-col text-center w-full mb-20">
                    <h2 class="text-xs text-black tracking-widest font-medium title-font mb-1">대한민국 대표 바이오기업</h2>
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-black">FastFowardBio
                    </h1>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 md:w-1/2">
                        <div class="flex rounded-lg h-full bg-gray-20 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <h2 class="text-gray-700 text-lg title-font font-black ">기업 개요</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-gray-700 font-medium"> 남들이 가지않은 길을 개척하며 눈부신 성과를 일궈온 FastFowardBio는 케미컬의약품과 신약개발, U-헬스케어 플랫폼 사업 등 차별화된 사업 전략을 기반으로 글로벌 생명공학 기업으로 지속 성장해나갈 것입니다.</p>
                                <a class="mt-3 text-gray-700 inline-flex items-center font-medium" href='#'>
                                Learn More »
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 md:w-1/2">
                           <div class="flex rounded-lg h-full bg-gray-20 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <h2 class="text-gray-700 text-lg title-font font-black ">비전</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-gray-700 font-medium">FastFowardBio는 차세대 바이오의약품 및 케미컬의약품 개발을 통해 인류의 건강과 복지 증진의 가치를 실현하는 세계적인 종합생명공학 기업으로    성장해나가겠습니다.</p>
                                <a class="mt-3 text-gray-700 inline-flex items-center font-medium" href='#'>
                                Learn More »
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                <section class="">
            <div class="container px-5 py-24 mx-auto flex flex-wrap">
                <div class="flex flex-col text-center w-full mb-20">
                    <h2 class="text-xs text-black tracking-widest font-medium title-font mb-1">기술과 혁신으로 인류의 삶을 풍요롭게 하고자 합니다.</h2>
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-black">핵심가치 & 사업전략
                    </h1>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 md:w-1/3">
                        <div class="flex rounded-lg h-full bg-gray-200 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <h2 class="text-gray-700 text-lg title-font font-bold">인재 혁신</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-gray-700 font-medium">직원에게 재능을 더욱 발전시키고 다섯가지 핵심 가치를 실현할 수 있도록 적극적으로 격려하며 지원하고 있습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 md:w-1/3">
                           <div class="flex rounded-lg h-full bg-gray-200 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <h2 class="text-gray-700 text-lg title-font font-bold">프로세스 혁신</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-gray-700 font-medium">프로세스 혁신이란 습관적 관행을 뛰어 넘는 최상의 제조 수준을 목표로 삼고 끊임없이 노력함으로써 최고의 품질과 서비스를 약속하는 고객 지향적 혁신을 뜻합니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 md:w-1/3">
                           <div class="flex rounded-lg h-full bg-gray-200 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <h2 class="text-gray-700 text-lg title-font font-bold">포트폴리오 혁신</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-gray-700 font-medium">포트폴리오 혁신은 현재 우리가 영위하는 CMO 사업을 넘어, CDO 및 CRO 사업에 이르기까지 지속적으로 서비스를 확장하는 것에서 시작합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
