
{% extends "page/base.html" %} 
{% load static %} 
{% block content %}
<section class="">
  <div
    class="container mx-auto flex px-10 py-8 items-center justify-center flex-col"
  >
    <h1 class="text-gray-700 text-6xl title-font font-black">
      Wow, such a empty!
    </h1>
  </div>
</section>

개인적으로나 전문적으로 성장할수 있는 기회가 있습니다.

인재상 

해당 분야 최고의 전문성과 함께 실행력을 발휘하고, 협업을 통해 집단지성을 추구하여 능력을 발전시키는 글로벌 인재 

지원 대상별 채용 절차

채용절차


    지원서 접수
    직무적합성평가
    삼성직무적성검사
    면접
    채용검진

지원 자격


    공고에 명시되어있는 시점에 입사 가능한 자
    어학 자격 보유자 (OPIc IM/TOEIC Speaking lv.6 이상)
    병역 필 또는 면제자로 해외여행에 결격사유가 없는 자


지원 하기

    삼성 채용 홈페이지에서 채용공고 확인과 지원이 가능합니다.

바로가기 

{% endblock %}