    {% load static %}
    <!---Global Footer-->
    <footer class="text-black sm:content-center border-t border-gray-300">
    <section class="bg-white py-8 w-full">
    <div class="container mx-auto px-8">
        <div class="table w-full">
            <div class="block sm:table-cell">
                <p class="uppercase text-grey text-sm sm:mb-6">
                사이트맵
                </p>
                <ul class="list-reset text-xs mb-6">
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">FAQ</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Help</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Support</a>
                    </li>
                </ul>
            </div>
            <div class="block sm:table-cell">
                <p class="uppercase text-grey text-sm sm:mb-6">
                개인정보 처리방침
                </p>
                <ul class="list-reset text-xs mb-6">
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Terms</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="block sm:table-cell">
                <p class="uppercase text-grey text-sm sm:mb-6">Social</p>
                <ul class="list-reset text-xs mb-6">
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Facebook</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Linkedin</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="block sm:table-cell">
                <p class="uppercase text-grey text-sm sm:mb-6">Company</p>
                <ul class="list-reset text-xs mb-6">
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">
                        비윤리경영
                        </a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">
                        보안신고센터
                        </a>
                    </li>
                    <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
                        <a href="#" class="text-grey hover:text-grey-dark">
                        연락처
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
        <div class="bg-white">
            <div class="container text-center lg:px-5 lg:py-6 mx-auto flex items-center sm:flex-row flex-col mb-2">
                <a href="#"
                    class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <img src='{% static "name_transparent.png" %}' width="120" height="120">
                </a>
                <p class="text-sm text-gray-600 font-thin sm:ml-6 sm:mt-0 mt-4">    
                </p>
                <p class="text-sm text-gray-600 font-thin sm:ml-6 sm:mt-0 mt-4">
                    <!--- Twitter
                    <a class="" rel="noopener" target="_blank" href="https://twitter.com/WickedTemplates">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
                                fill="#0a165c"></path>
                        </svg>
                    </a>
                </p>
                <p class="text-sm text-gray-600 font-bold sm:ml-6 sm:mt-0 mt-4">-->
                    <!--- Twitter -->
                    <!--- Indiehackers 
                    <a class="" rel="noopener" target="_blank" href="https://www.indiehackers.com/group/wicked-templates">
                        <svg width="24" height="18" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.48075 0H0.0961304V19H4.48075V0Z" fill="#0a165c"></path>
                            <path d="M13.25 0H8.86542V19H13.25V0Z" fill="#0a165c"></path>
                            <path d="M20.5576 7.30771H12.5192V11.6923H20.5576V7.30771Z" fill="#0a165c"></path>
                            <path d="M24.2115 0H19.8269V19H24.2115V0Z" fill="#0a165c"></path>
                        </svg></a>
                </p>-->
                <span
                    class="text-sm text-gray-600 font-thin inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                    No Copyright reserved.
                </span>
            </div>
        </div>
    </footer>
    <!--- End Global Footer-->