    {% load static %}
    <!---Global Footer-->
    <footer class="text-black sm:content-center border-t border-gray-300">
        <div class="bg-white">
            <div class="container text-center lg:px-5 lg:py-6 mx-auto flex items-center sm:flex-row flex-col mb-2">
                <a href="#"
                    class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <img src='{% static "logo_transparent.png" %}' width="50" height="50">
                </a>
                <p class="text-sm text-gray-600 font-bold sm:ml-6 sm:mt-0 mt-4">    인천광역시 연수구 아카데미로 2 032-850-500
                </p>
                <p class="text-sm text-gray-600 font-bold sm:ml-6 sm:mt-0 mt-4">
                    <!--- Twitter
                    <a class="" rel="noopener" target="_blank" href="https://twitter.com/WickedTemplates">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
                                fill="#0a165c"></path>
                        </svg>
                    </a>
                </p>-->
                <p class="text-sm text-gray-600 font-bold sm:ml-6 sm:mt-0 mt-4">
                    <!--- Twitter -->
                    <!--- Indiehackers 
                    <a class="" rel="noopener" target="_blank" href="https://www.indiehackers.com/group/wicked-templates">
                        <svg width="24" height="18" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.48075 0H0.0961304V19H4.48075V0Z" fill="#0a165c"></path>
                            <path d="M13.25 0H8.86542V19H13.25V0Z" fill="#0a165c"></path>
                            <path d="M20.5576 7.30771H12.5192V11.6923H20.5576V7.30771Z" fill="#0a165c"></path>
                            <path d="M24.2115 0H19.8269V19H24.2115V0Z" fill="#0a165c"></path>
                        </svg></a>
                </p>-->
                <span
                    class="text-sm text-gray-600 font-bold inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                    © Taeyoon Kim 2019 - 2020
                </span>
            </div>
        </div>
    </footer>
    <!--- End Global Footer-->