    {% load static %}
	 <header class="text-gray-700 body-font border-b border-gray-300 ">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a href="{% url 'page:index'%}"
                    class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                    <img src='{% static "logo_transparent.png" %}' width="50" height="50">
                </a>
                <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
				    <a class="mr-5 hover:text-black font-semibold my-3" href="{% url 'page:about' %}">About us</a>
                    <a class="mr-5 hover:text-black font-semibold my-3" href="{% url 'page:business' %}">Business</a>
                    <a class="mr-5 hover:text-black font-semibold my-3" href="{% url 'page:science' %}">Science</a>
                    <a class="mr-5 hover:text-black font-semibold my-3" href="{% url 'page:product' %}">Products</a>
                    <a class="mr-5 hover:text-black font-semibold my-3" href="{% url 'page:career' %}">Career</a>
                </nav>
                <a  href="{% url 'page:plan' %}" class="">
                <button class=" border-2 border-black  text-black block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-white hover:text-indigo-500 transition ease-in-out duration-700 md:mt-0">
                    See Plans
                </button>
                </a>
            </div>
        </header>
        <!---End Global Header-->