{% extends "page/base.html" %} {% load static %} {% block content %}

<section class="py-5 bg-gray-100">
  <div class="bg-gray-100 lg:py-12 lg:flex lg:justify-center">
    <div
      class="bg-gray-100 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg"
    >
      <div class="lg:w-1/2">
        <div
          class="h-64 bg-cover lg:rounded-lg lg:h-full"
          style="
            background-image: url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
          "
        ></div>
      </div>
      <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
        <h2 class="text-3xl text-gray-800 font-bold">
          생명공학<span class="text-indigo-600">연구소</span>
        </h2>
        <p class="mt-4 text-gray-600">
          생명공학 연구소는 신약 후보물질 탐색, 유전자 재조합을 통한 세포주 개발
          및 발현, 바이오의약품 대규모 생산, 품목 허가를 위한 동등성 평가, 제품
          특성, 작용기전 연구 등 바이오 산업 전 과정에 걸쳐 축적한 연구 역량 및
          기술을 보유하고 있습니다.
        </p>
        <div class="mt-8">
          <a
            href="#"
            class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded"
            >더 알아보기</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-white">
        <section class="text-black">
            <div class="container px-5 py-24 mx-auto">
                <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                    <img class="inline-block w-20 h-20 text-gray-700 mb-8" src={% static 'logo.png'%} width="45" height="45">
                    <p class="leading-relaxed text-lg">
                    국내 최대 규모 R&D 전문 인력
                    </p>
                    <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                    <h2 class="text-black font-medium title-font tracking-wider text-sm">전체 임직원의 133%</h2>
                    
                </div>
            </div>
</section>
{% endblock %}
